# 판다스(pandas)

## 연습 문제

### 1.

판다스에 관한 연습 문제에서는 다양한 식품의 탄소 발자국을 조사한다.  
  이를 위하여 [Kasia Kulma](https://r-tastic.co.uk/post/from-messy-to-tidy/)가 [R's Tidy Tuesday project](https://github.com/rfordatascience/tidytuesday)에 제공한 데이터를 활용한다. 

판다스를 `pd`라는 별칭으로 수입하는 코드부터 시작하자.

In [1]:
# 여기에 당신의 코드를 작성하라.

### 2.

우리가 작업할 데이터셋에는 다음과 같은 열이 존재한다:

|열      |설명 |
|:-------------|:-----------|
|country       | 국가 이름 |
|food_category | 식품 유형 |
|consumption   | 소비량 (kg/person/year) |
|co2_emmission | CO2 배출량 (Kg CO2/person/year) |


데이터셋을 아래 url에서 `df`라는 데이터프레임으로 읽어들이자.    
  url: <https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv>

In [2]:
# 여기에 당신의 코드를 작성하라.

         country             food_category  consumption  co2_emmission
0      Argentina                      Pork        10.51          37.20
1      Argentina                   Poultry        38.66          41.53
2      Argentina                      Beef        55.48        1712.00
3      Argentina               Lamb & Goat         1.56          54.63
4      Argentina                      Fish         4.36           6.96
...          ...                       ...          ...            ...
1425  Bangladesh        Milk - inc. cheese        21.91          31.21
1426  Bangladesh  Wheat and Wheat Products        17.47           3.33
1427  Bangladesh                      Rice       171.73         219.76
1428  Bangladesh                  Soybeans         0.61           0.27
1429  Bangladesh   Nuts inc. Peanut Butter         0.72           1.27

[1430 rows x 4 columns]

### 3.

데이터프레임의 행/열 개수를 확인하라.

In [3]:
# 여기에 당신의 코드를 작성하라.

(1430, 4)

### 4.

`df`에 포함된 각 열의 자료형을 확인하라.

In [4]:
# 여기에 당신의 코드를 작성하라.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1430 entries, 0 to 1429
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        1430 non-null   object
 1   food_category  1430 non-null   object
 2   consumption    1430 non-null   float64
 3   co2_emmission  1430 non-null   float64
dtypes: float64(2), object(2)
memory usage: 44.8+ KB

### 5.

`co2_emission` 열에 저장된 값의 평균치를 확인하라.

In [5]:
# 여기에 당신의 코드를 작성하라.

74.38399300699302

### 6.

데이터셋에 포함된 식품과 국가의 개수를 중복없이 헤아리면 얼마나 되는지 확인하라.

In [6]:
# 여기에 당신의 코드를 작성하라.

모두 11 종의 고유한 식품이 포함되어 있다.
모두 130 종의 고유한 국가가 포함되어 있다.

### 7.

데이터셋에서 `co2_emmission`의 최대값을 확인하라.  
최대값으로 기록된 식품 유형과 국가를 확인하라.

In [7]:
# 여기에 당신의 코드를 작성하라.

country          Argentina
food_category         Beef
consumption          55.48
co2_emmission       1712.0
Name: 2, dtype: object

### 8.

단일 식품 유형으로서 연간 일인당 이산화탄소 배출량이 1000 Kg 이상인 데이터를 확인하라.

In [8]:
# 여기에 당신의 코드를 작성하라.

       country food_category  consumption  co2_emmission
2    Argentina          Beef        55.48        1712.00
13   Australia          Beef        33.86        1044.85
57         USA          Beef        36.24        1118.29
90      Brazil          Beef        39.25        1211.17
123    Bermuda          Beef        33.15        1022.94

### 9.

연간 일인당 쇠고기(beef) 소비량이 최소인 국가를 확인하라.

In [9]:
# 여기에 당신의 코드를 작성하라.

      country food_category  consumption  co2_emmission
1410  Liberia          Beef         0.78          24.07

### 10.


연간 일인당 콩(soybeans) 소비량이 가장 많은 국가를 확인하라.

In [10]:
# 여기에 당신의 코드를 작성하라.

          country food_category  consumption  co2_emmission
1010  Taiwan. ROC      Soybeans        16.95           7.63

### 11.

모든 육류 제품 (Pork, Poultry, Fish, Lamb & Goat, Beef)의 이산화탄소 배출량(`co2_emmission`) 합계를 확인하라.

In [11]:
# 여기에 당신의 코드를 작성하라.

74441.13

### 12.

모든 비 육류 제품의 이산화탄소 배출량 합계를 확인하라.

In [13]:
# 여기에 당신의 코드를 작성하라.

31927.98